<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/styleaut.css">
    <link rel="icon" href="../assets/5.png">
    <script src="../js/login.js"></script>
    <script src="../js/links.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="corpo">

        <div class="corpo-login">
            <div class="corpo-titulo">
            <div class="botao-voltar" onclick="irParaLogin()"><</div>
            <div class="titulo"><img src="..\assets\2.png"></div>
             </div>  
             <p class="texto-token">Insira o seu token de segurança</p>
            <div class="corpo-inputs">
                
                <input type="text" class="inputs" id="caractere_1">
                <input type="text" class="inputs" id="caractere_2">
                <input type="text" class="inputs" id="caractere_3">
                <input type="text" class="inputs" id="caractere_4">               
                <input type="text" class="inputs" id="caractere_5">
                <input type="text" class="inputs" id="caractere_6">

                
            </div>
            <button class="botao-confirmar" onclick="autenticarToken()">Confirmar</button>

        </div>

    </div>

</body>

</html>
