<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylecadastro.css">
    <script src="../js/cadastro.js"></script>
    <script src="../js/links.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="corpo">

        <div class="corpo-login">
            <div class="titulo"><span>Cadastro</span></div>

            <div class="corpo-inputs">
                <span class="titulo-input">Nome</span>
                <input type="text" class="nome" id="input_nome">

                <span class="titulo-input">Email</span>
                <input type="email" class="email" id="input_email" required>

                <span class="titulo-input">Senha</span>
                <input type="password" class="senha" id="input_senha">

                <span class="titulo-input">Confirme sua senha</span>
                <input type="password" class="senha" id="input_confirmacao">

                
                <button class="botao-cadastrar" onclick="validarInputs()">Cadastrar</button>

                <span class="span-cadastrar">Já possui uma conta?<a href="login.html"
                        class="link-cadastrar">Entrar</a></span>

            </div>

        </div>


    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal()">&times;</span>
            <p id="modal-message"></p>
        </div>
    </div>

    <script>
        function fecharModal() {
            document.getElementById("modal").style.display = "none";
        }

        
        function verificaEmail() {
            const emailInformado = document.getElementById("input_email").value;
            const modal = document.getElementById("modal");
            const mensagemModal = document.getElementById("modal-message");

            if (emailInformado.indexOf("@") === -1) {
                mensagemModal.textContent = "O email deve conter '@'.";
                modal.style.display = "block";
                return false;
            } else if (emailInformado.length === 0) {
                mensagemModal.textContent = "Tamanho do email inválido.";
                modal.style.display = "block";
                return false;
            } else {
                return true;
            }
        }

      
        function validarSenha() {
            const senha = document.getElementById("input_senha").value;

            const temMaiuscula = /[A-Z]/.test(senha);
            const temMinuscula = /[a-z]/.test(senha);
            const temEspecial = /[!@#$%^&*(),.?":{}|<>]/.test(senha);
            const temMinimoCaracteres = senha.length >= 6;

            if (temMaiuscula && temMinuscula && temEspecial && temMinimoCaracteres) {
                return true;
            } else {
                const mensagemModal = document.getElementById("modal-message");
                mensagemModal.textContent = "A senha deve conter pelo menos uma letra maiúscula, uma letra minúscula, um caractere especial e ter no mínimo 6 caracteres.";
                document.getElementById("modal").style.display = "block";
                return false;
            }
        }

        
        function validarInputs() {
            const senha = document.getElementById("input_senha").value;
            const confirmacao = document.getElementById("input_confirmacao").value;

            if (!verificaEmail()) {
                return;
            }

       
            if (!validarSenha()) {
                return;
            }

         
            if (senha !== confirmacao) {
                const mensagemModal = document.getElementById("modal-message");
                mensagemModal.textContent = "As senhas não coincidem.";
                document.getElementById("modal").style.display = "block";
                return;
            }

          
            alert("Cadastro realizado com sucesso!");
        }
    </script>

</body>

</html>
