<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylecadastro.css">
    <link rel="icon" href="../assets/5.png">
    <script src="../js/cadastro.js"></script>
    <script src="../js/links.js"></script>
    <title>Cadastro</title>
</head>

<body>
    <div class="corpo">

        <div class="corpo-login">
            <div class="corpo-titulo">
                <div class="botao-voltar" onclick="irParaLogin()"><</div>
                <div class="titulo"><img src="..\assets\2.png"></div>
            </div>

            <div class="corpo-inputs">
                <span class="titulo-input">Nome</span>
                <input type="text" class="nome" id="input_nome">

                <span class="titulo-input">Email</span>
                <input type="email" class="email" id="input_email" required>

                <span class="titulo-input">Senha</span>
                <input type="password" class="senha" id="input_senha">

                <button class="botao-cadastrar" onclick="validarInputs()">Cadastrar</button>

                <span class="span-cadastrar">Já possui uma conta?<a href="login.html"
                class="link-cadastrar">Entrar</a></span>
            </div>
        </div>

    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal()">&times;</span>
            <p id="modal-message"></p>
        </div>
    </div>

</body>

</html>

<script>
    const modalStyle = document.getElementById("modal");
    
    document.addEventListener("keydown", (event) => {
        if (event.key === "Enter") {
            if (modalStyle.style.display === "block") {
                fecharModal();
            } else {
                validarInputs();
            }
        }
    });
</script>