<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylelogin.css">
    <script src="../js/login.js"></script>
    <script src="../js/links.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="corpo">

        <div class="corpo-login">
            <div class="titulo"><span>Login</span></div>

            <div class="corpo-inputs">
                <span class="titulo-input">Email</span>
                <input type="email" class="email" id="input_email">

                <span class="titulo-input">Senha</span>
                <input type="password" class="senha" id="input_senha">

                <button class="botao-entrar" onclick="entrar()">Entrar</button>

                <span class="span-cadastrar">Não possui uma conta?<a href="cadastro.html"
                        class="link-cadastrar">Cadastrar</a></span>

            </div>

            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="fecharModal()">&times;</span>
                    <p id="modal-message"></p>
                </div>
            </div>

        </div>


    </div>

</body>

</html>
<script>
    function fecharModal() {
        document.getElementById("modal").style.display = "none";
    }

    function verificarEmail() {
        const emailInformado = document.getElementById("input_email").value;
        const modal = document.getElementById("modal");
        const mensagemModal = document.getElementById("modal-message");

        if (emailInformado.indexOf("@") === -1) {
            mensagemModal.textContent = "O email deve conter '@'.";
            modal.style.display = "block";
            return false;
        } else if (emailInformado.length === 0) {
            mensagemModal.textContent = "Tamanho do email inválido.";
            modal.style.display = "block";
            return false;
        } else {
            return true;
        }
    }

    function verificarSenha() {
        const senha = document.getElementById("input_senha").value;

        const temMaiuscula = /[A-Z]/.test(senha);
        const temMinuscula = /[a-z]/.test(senha);
        const temEspecial = /[!@#$%^&*(),.?":{}|<>]/.test(senha);
        const temMinimoCaracteres = senha.length >= 6;

        if (temMaiuscula && temMinuscula && temEspecial && temMinimoCaracteres) {
            return true;
        } else {
            const mensagemModal = document.getElementById("modal-message");
            mensagemModal.textContent = "Senha Incorreta!";
            document.getElementById("modal").style.display = "block";
            return false;
        }
    }


    function entrar() {
        const email = document.getElementById("input_email").value;
        const senha = document.getElementById("input_senha").value;

        if (!verificarEmail() || !verificarSenha()) {
            return;
        }


        fetch("http://localhost:3000/usuarios/autenticar", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                emailServer: email,
                senhaServer: senha
            })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Erro ao autenticar. Verifique o email e a senha.");
                    modal.style.display = "block";
                }
            })
            .then(data => {
                console.log("Usuário autenticado com sucesso:", data);
                window.location.href = "index.html";
            })
            .catch(error => {
                console.error("Erro durante a autenticação:", error);
                alert(error.message);
            });



    }
</script>