<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/stylelogin.css">
    <link rel="icon" href="../assets/5.png">
    <script src="../js/login.js"></script>
    <script src="../js/links.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="corpo">

        <div class="corpo-login">
            <div class="corpo-titulo">
                <div class="botao-voltar" onclick="irParaHome()"><</div>
                <div class="titulo"><img src="..\assets\2.png"></div>
            </div>
            <div class="corpo-inputs">
                <span class="titulo-input">Email</span>
                <input type="email" class="email" id="input_email">

                <span class="titulo-input">Senha</span>
                <input type="password" class="senha" id="input_senha">

                <button class="botao-entrar" onclick="validarInputs()">Entrar</button>

                <span class="span-cadastrar">Não possui uma conta?<a href="cadastro.html"
                        class="link-cadastrar">Cadastrar</a></span>

            </div>

            <div id="modal" class="modal">
                <div class="modal-content">
                    <p id="modal-message"></p>
                    <span class="close" onclick="fecharModal()">&times;</span>
                </div>
            </div>

        </div>


    </div>

</body>

</html>
