<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeção</title>
    <link rel="stylesheet" href="../css/projecao.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <script src="https://kit.fontawesome.com/65879fa723.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <header>
          <img src="../assets/5 5.png" alt="Logo" />
        </header>
        <ul>
          <li>
            <div class="nome-div">
              <p class="nome-usuario-style">Olá, <p class="nome-usuario-style" id="nome-usuario">undefined</p></p>
            </div>
            <input type="radio" id="dashboard" name="sidebar" />
            <label for="dashboard" onclick="irParaDashboard()">
              <i class="fa-solid fa-chart-simple"></i>
              <p>Dashboard</p>
            </label>
          </li>
          <li>
            <input type="radio" id="mapas" name="sidebar" />
            <label for="mapas">
              <i class="fa-solid fa-map-location-dot"></i>
              <p>Regiões</p>
              <i class="ai-chevron-down-small"></i>
            </label>
            <div class="sub-menu">
              <ul>
                <li><button type="button">São Paulo</button></li>
                <li><button type="button">Capital</button></li>
                <li><button type="button">Litoral</button></li>
              </ul>
            </div>
          </li>
          <li>
            <input type="radio" id="forum" name="sidebar" />
            <label for="forum" onclick="irParaForum()">
              <i class="fa-solid fa-comments"></i>
              <p>Forum</p>
              <i class="ai-chevron-down-small"></i>
            </label>
            <div class="sub-menu">
              <ul>
                <li><button type="button">Relatos</button></li>
                <li><button type="button">Avaliações</button></li>
              </ul>
            </div>
          </li>
          <li>
            <input type="radio" id="perfil" name="sidebar" />
            <label for="perfil" onclick="irParaPerfil()">
              <i class="fa-solid fa-user"></i>
              <p>Perfil</p>
              <i class="ai-chevron-down-small"></i>
            </label>
            <div class="sub-menu">
              <ul>
                <li><button type="button">Avatar</button></li>
                <li><button type="button">Temas</button></li>
              </ul>
            </div>
          </li>
          <li>
            <input type="radio" id="notificacoes" name="sidebar" />
            <label for="notificacoes">
              <i class="fa-solid fa-bell"></i>
              <p>Notificações</p>
            </label>
          </li>
          <li>
            <input type="radio" id="noticias" name="sidebar" />
            <label for="conta">
              <i class="fa-regular fa-newspaper"></i>
              <p>Noticias</p>
            </label>
          </li>
         
          <li>
            <input type="radio" id="conta" name="sidebar" />
            <label for="conta">
              <i class="fa-solid fa-person-through-window"></i>
              <p>Sair</p>
            </label>
          </li>
        </ul>
      </aside>


      <div class="parent">
        <div class="div1"> 

            <h1>
                Numero de casos em relação ao ultimo mês
            </h1>
        
        </div>

        <div class="div2"> 
            <p>Latrocinio <i class='bx bx-chevrons-up' style="color: red;"></i> </p> 
            <h1>24%</h1>
        </div>
        <div class="div3"> 
            <p>Roubo <i class='bx bx-chevrons-up' style="color: red;"></i> </p> 
            <h1>12%</h1>
        </div>
        <div class="div4"> 
            <p>Furto <i class='bx bx-chevrons-down' style="color: #2CD17D;"></i> </p> 
            <h1>28%</h1>
        </div>

        <div class="div5"> 

            <h1>
                Numero de casos <b style="color: red;">estimados</b>  para o próximo mês
            </h1> 
            
        </div>

        <div class="div6"> 
            <p >Latrocinio <i class='bx bx-chevrons-up' style="color: red;"></i> </p> 
            <h1>24%</h1>
        </div>
        <div class="div7"> 
            <p>Roubo <i class='bx bx-chevrons-up' style="color: red;"></i> </p> 
            <h1>12%</h1>
        </div>
        <div class="div8"> 
            <p>Furto <i class='bx bx-chevrons-down' style="color: #2CD17D;"></i> </p> 
            <h1>28%</h1>
        </div>
        </div>


  </body>
</html>
