body {
    background-color: #223C62;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: "Tomorrow";

}
    

.corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}
.nome-usuario-style{
    color: #223C62;
    font-family: Tomorrow;
    font-size: 24px;
    margin-left: 4px;

}
.nome-div{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 2vh;
    margin-top: 2vh;

}


.corpo-titulo {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    margin-top: 5vh;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.botao-voltar {
    font-size: 50px;
    margin-left: 3vw;
    color: #00265f;
    text-decoration: none;
}


.corpo-login {
    background-color: #FFFFFF;
    width: 50vw;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.titulo img {
    width: 15vw;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 14vw;
}

.corpo-inputs {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.nome {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 90%;
    height: 7vh;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 4vh;
}

.telefone {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 90%;
    height: 7vh;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 4vh;
}


.email {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 90%;
    height: 7vh;
    color: black;
    margin-bottom: 4vh;
    font-size: 20px;
    border-radius: 10px;
}

.senha {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 90%;
    height: 7vh;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 4vh;
}


.CIM {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 90%;
    height: 7vh;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 4vh;
}

.CPF {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 90%;
    height: 7vh;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 7vh;
}

.titulo-input {
    margin-right: 37%;
    display: flex;
    width: 50%;
    margin-bottom: 1vh;
}

.botao-cadastrar {
    background-color: #044194;
    width: 90%;
    height: 12vh;
    border-radius: 10px;
    border: none;
    font-size: 35px;
    color: white;
    font-family: "Tomorrow";
    margin-bottom:5vh;
    margin-top: 5vh;
}

.botao-cadastrar:hover {
    background-color: #114aa0;
    cursor: pointer;
}

.span-cadastrar {
    color: #223C62;
    font-size: 15px;
    width: 80%;

}

.span-cadastrar a {
    text-decoration: none;
}



