@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #223C62;
}


.nome-usuario-style{
    color: #223C62;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-left: 4px;

}
.nome-div{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 260px;
    padding: 0 16px;
    background: #FFFFFF;
    backdrop-filter: blur(30px);
    transition: width 0.4s;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra para destacar a sidebar */
}

.sidebar header {
    display: flex;
    justify-content: center;
    height: 72px;
    padding-top: 10px;
}

.sidebar header img {
    height: 40px;
    width: 45px;
    margin-top: 20px;
}

.sidebar input {
    scale: 0;
    position: absolute;
}

.sidebar input#mapas:checked + label + .sub-menu,
.sidebar input#forum:checked + label + .sub-menu,
.sidebar input#perfil:checked + label + .sub-menu {
    color: #FFF;
}

.sidebar input#mapas:checked + label + .sub-menu {
    height: 150px;
}

.sidebar input#forum:checked + label + .sub-menu {
    height: 100px;
}

.sidebar input#perfil:checked + label + .sub-menu {
    height: 100px;
}

.sidebar :is(button, label) {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 16px;
    color: #223C62;
    background: #FFF;
    transition: background 0.3s, color 0.3s;
}

.sidebar input:checked + label {
    background: #223C62;
    color: #FFF;
}

.sidebar label i {
    transition: 0.3s;
}

.sidebar input:checked + label > i:nth-child(3) {
    transform: rotate(-180deg);
}

.sidebar input:not(:checked) + label:hover,
.sidebar button:hover {
    background: #223C62;
    color: #FFF;
}

.sidebar ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sub-menu {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.sub-menu ul {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
}

.sub-menu button {
    padding-left: 52px;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

.sub-menu button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #223C62;
}

.sidebar i {
    font-size: 20px;
    width: 20px;
}

.container {
    display: flex;
    
    margin-left: 260px;
    justify-content: center;
    height: 90vh;

}

.container-relatos{
    display: flex;
    width: 95%;   
}

.relatos  {
    width: 100%;
    height: 90vh;
    background-color: #F5F4F9;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5vh;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    overflow: auto;   
}



#titulo-relatos {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    color: #003366;
    font-weight: bold;
}

.relatos .relato-card  {
    display: inline-block; 
    padding: 30px; 
    border-radius: 10px; 
    background-color: #fff;
    border: 1px solid #003366; 
    word-wrap: break-word; 
    white-space: normal; 
    margin-bottom: 20px;
    width: 90%;
}

.avaliacoes .avaliacao-card {
    /* border: 2px solid #e0e0e0; */
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #223C62;
}

.relatos .relato-header p .avaliacoes .avaliacao-header p {
    margin-bottom: 10px;
    color: #50597b;
}

.avaliacoes .avaliacao-header p {
    margin-bottom: 10px;
    color: white;
}

.relatos .relato-text p .avaliacoes .avaliacao-text p {
    color: #3d4b5d;
    font-size: 16px;
    line-height: 1.5;
}

.relato-text {
        display: inline-block;
        max-width: 100%; 
        word-wrap: break-word; 
        white-space: normal; 

}

.avaliacoes .avaliacao-text p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.relatos .enviar-btn {
    display: block;
    width: 160px;
    background-color: #223C62;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.avaliacoes .enviar-btn {
    display: block;
    width: 160px;
    margin-left: 58%;
    background-color: #223C62;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.enviar-btn:hover {
    background-color: #001d3b;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    flex-direction: row;
  }

  .modal-conteudo {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .fechar:hover, .fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .input-container {
    position: relative;
    margin: 50px auto;
    width: 400px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #223C62;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #223C62;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }

  .modal-conteudo .enviar-btn {
    width: 100px;
  }

  .relatos .enviar-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding-right: 50px;
  }

  .box_relatos {
    width: 100%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }

  .relato-header {
    margin-bottom: 5px;
  }



