@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --gradiente1: radial-gradient(14.71% 28.47% at 80% 60.42%, #071D3C 0%, #020202 100%);
    --input-opacidade: #1f1f1f28;
    --gradiente2: radial-gradient(55.16% 67.29% at 65.42% 54.91%, #071D3C 0%, #051223 42.53%, #000000 100%);
    --gradiente3: radial-gradient(51.44% 112.99% at 52.27% 98.24%, #0D3266 0%, #051223 42.53%, #000000 100%);
    --gradiente4: radial-gradient(51.44% 112.99% at 52.27% 98.24%, #0D3266 0%, #051223 42.53%, #000000 100%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}