body {
    background-color: #223C62;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Tomorrow";

}

.corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}

.corpo-login {
    background-color: #FFFFFF;
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-titulo {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    margin-top: 5vh;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.botao-voltar {
    font-size: 50px;
    margin-left: 3vw;
    color: #00265f;
    text-decoration: none;
}

.titulo img {
    width: 15vw;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 14vw;
}

.corpo-inputs {
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 80%;
    gap: 2vw;
    justify-content: center;
    align-items: center;
   
    
}

.inputs {
    background-color: transparent;
    border: none;
    border: 1px solid #C1BDBD;
    padding: 10px;
    width: 10%;
    height: 8vh;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}
.texto-token{
    font-size: 30px;
    color: #223C62;
}


.titulo-input {
    color: #223C62;
    margin-right: 81%;
    margin-bottom: 10px;
}

.botao-confirmar {
    background-color: #044194;
    width: 90%;
    height: 12vh;
    border-radius: 15px;
    border: none;
    font-size: 35px;
    color: white;
    font-family: "Tomorrow";
    margin-bottom: 2.5vh;

}

.botao-confirmar:hover {
    background-color: #114aa0;
    cursor: pointer;
}

