html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Tomorrow', sans-serif;
    color: #fff;
}


header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 3% 6%;
}

header img.logo1 {
    width: 12%;
}

header nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    font-size: 18px;
}

header nav a{
    color: #fff;
}
a:hover{
    text-decoration: underline;
    
}
body::-webkit-scrollbar {
    width: 10px;   
    }
  
  body::-webkit-scrollbar-track {
    background: #000000;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #575757;    
    border-radius: 20px 20px 20px 20px;       
    border: none;
  }

  
.menus {
    display: flex;
    text-decoration: none;
    color: #fff;
    gap:  80px;
    padding: 12px 30px;
    border: 3px solid #575757;
    border-radius: 30px;
}

#home {
    background: var(--gradiente1);
    height: 95vh;
}

.img_home {
    width: 100%;
    padding: 6% 7%;
    height: 100%;
    background-image: url("../assets/imgHome.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 60px;
}

.conteudo_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_home span {
    color: #1E90FF;
}

.frase_home {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 15%;
    font-size: 30px;
}

.btn{
    border-radius: 20px;
    margin-left: 10px;
    font-size: 18px;
    padding: 8px 15px;
    cursor: pointer;
}
.btn:hover{
    text-decoration: underline;
}

.btn img{
    width: 13px;
}

.titulos{
    font-size: 30px;
    padding: 3% 6%;
}

.titulos img{
    width: 1%;
}

.conteudo_detalhe{
    display: flex;
    flex-direction: column;
    padding: 9% 6%;
    gap: 30px;
}

#servicos {
    background: var(--gradiente2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.detalhe_servico {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 3% 6%;
    justify-items: center;
    align-items: center;
}

.detalhe{
    border-radius: 15px;
    background-color: var(--input-opacidade);
    border: 2.5px solid #575757;
}

.numeracao_detalhes{
    font-size: 30px;
}

.icon_detalhes{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.icon_detalhes img{
    width: 80px;
}

.titulo_detalhe{
    font-weight: bold;
}

.categorias {
    display: flex;
    gap: 20px;
    padding: 3% 6%;
    justify-items: center;
    text-align: center;
    align-items: center;
    
}
.categoria:hover{
    background-color: #575757;
}

.categoria{
    display: flex;
    background-color: var(--input-opacidade);
    border: 2.5px solid #575757;
    border-radius: 15px;
    width: 180px;
    height: 100px;
    padding: 25px 15px;
    justify-content: center;
    align-items: center;
}

#inteligenciaArtificial {
    background: var(--gradiente3);
    font-size: 20px;
}

.conteudo_inteligencia {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding: 0 6%;
    font-size: 18px;
}

.conteudo_inteligencia img{
    width: 650px;
    justify-content: flex-end;
    padding: 0 5%;
}

.inteligencia_esquerdo{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inteligencia_direito{
    width: 30%;
    margin-bottom: 0;
}

.inteligencia_direito h3{
    font-weight: 600;
    font-size: 40px;
}

#sobre {
    background: var(--gradiente4);
}

.titulo_sobre{
    padding-bottom: 0;
}

.conteudo_sobre{
    display: flex;
    padding: 4% 6%;
    font-size: 18px;
    gap: 100px;
}

.conteudo_sobre h3{
    font-size: 20px;
}

.sobre_esquerdo{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 50%;
}

.sobre_direito{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.sobre_direito p {
    background-color: var(--input-opacidade);
    border: 2.5px solid #575757;
    border-radius: 20px;
    padding: 6% 8%;
    width: 400px;
    text-align: center;
    font-size: 16px;
}

.img_sobre{
    width: 400px;
    display: flex;
    align-items: center;
    padding: 3% 7%;
    justify-content: center;
    background-color: var(--input-opacidade);
    border: 2.5px solid #575757;
    border-radius: 20px;
}

.img_sobre img{
    width: 200px;
}

#contato{
    background-image: url("../assets/background-contato.png");
    background-size: 150%;
}

.conteudo_contato{
    display: flex;
    padding: 3% 7%;
    justify-content: center;
    gap: 20px;
}

.contato_esquerdo{
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.endereco{
    margin-top: 20px;
    width: 360px;
    text-align: center;
    font-size: 18px;
}

.contato_direito{
    width: 40%;
    height: 600px;
    background-color: var(--input-opacidade);
    border: 2.5px solid #575757;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    align-items: center;
}

.contato_direito h3{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 100%;
}

.parte_a_contato{
    display: flex;
    gap: 30px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5% 0;
    width: 100%;
}

.secao_input{
    display: flex;
    flex-direction: column;
}

.titulo_input{
    font-size: 20px;
    padding-bottom: 10px;
}

.input{
    background-color: var(--input-opacidade);
    border: none;
    border-bottom: 2px solid #575757;
    font-family: "Tomorrow";
    padding: 5px;
    color: white;
}
textarea{
    resize: none;
    color: white;
}
    
.nome_input, .telefone_input{
    width: 50%;
}

.input_mensagem{
    height: 180px;
    border: 2px solid #575757;
}

.btn_contato{
    width: 30%;
    background-color: #1E90FF;
    height: 8%;
    font-weight: bolder;
    border: none;
    color: #fff;
    cursor: pointer;
}
.btn_contato:hover{
    background-color: #006dda;
}

.implementar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    gap: 15px;
    font-size: 30px;
}

.implementar a{
    text-decoration: none;
    color: #fff;
}

.implementar span{
    padding: 3px 12px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 32px;
}

#botao_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3vw;
    height: 5vh;
    font-size: 30px;
    border: none;
    outline: none;
    background: var(--gradiente);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07);
  }
#botao_topo:hover{
    background-color: #575757;
    transition: 0.7s;
}
footer{
    background: var(--gradiente2);
}

.rodape_conteudo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 50px 10px;
}

.colunas {
    width: 60%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.logo_rodape {
    width: 23%;
}

.button_rodape {
    color: white;
    text-align: center;
}
.button_rodape:hover{
    text-decoration: underline;
}

.coluna1 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: left;
}

.coluna2 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: left;
}

.coluna3 span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    padding-left: 0;
}

.redes img{
    width: 70px;
    cursor: pointer;
}

footer .direito {
    text-align: center;
}

footer p {
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
      }
      
    header{
        padding: 50px 30px;
    }

    header img.logo1{
        width: 40%;
    }
    header nav{
        display: none;
    }

    #home{
       height: 60vh;

    }
    .img_home {
        background-size: cover;
        font-size: 40px;
        height: 60vh;
    }

    .frase_home {
        font-size: 20px;
        padding-top: 10%;
        text-align: center;
    }

    .conteudo_detalhe {
        padding: 12% 4%;
        gap: 20px;
    }

    .detalhe_servico {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .icon_detalhes img {
        width: 50px;
    }

    .categorias {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-bottom: 10%;
        overflow-x: hidden;  
        user-select: none;
        cursor: grab; 
    }
    
    .categorias::-webkit-scrollbar {
        display: none; 
    }
    
    .categorias {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }
    .categoria {
        width: 100%;
        padding: 20px 10px;
    }

    .conteudo_inteligencia {
        flex-direction: column;
        padding: 10% 5%;
    }

    .conteudo_inteligencia img {
        width: 50%;
        padding: 20px;
    }

    .inteligencia_esquerdo, .inteligencia_direito {
        width: 100%;
        text-align: center;
    }

    .conteudo_sobre {
        flex-direction: column;
        gap: 20px;
        padding: 6% 4%;
    }

    .sobre_direito, .sobre_esquerdo {
        width: 100%;
    }

    .ferramentas{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 30px;
    }

    .img_sobre {
        width: 100%;
        padding: 5%;
    }

    .conteudo_contato {
        flex-direction: row;
        padding: 5% 4%;
    }

    .contato_esquerdo {
        display: none;
    }

    .contato_direito {
        width: 100%;
        height: auto;
    }

    .inputs {
        gap: 10px;
    }

    .nome_input, .telefone_input {
        width: 100%;
    }

    .btn_contato {
        width: 100%;
        padding: 15px;
        font-size: 20px;
    }

    .rodape_conteudo{
        flex-direction: column;
    }

    .logo_rodape{
        width: 60%;
        padding-bottom: 15%;
    }

    .implementar{
        font-size: 20px;
    }

    .colunas{
        width: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    header{
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 30px 10px;
        gap: 180px;
    }

    header img.logo1 {
        width: 15%;
        justify-content: start;
    }
    
    header nav {
        width:50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
        font-size: 15px;
    }    

    .frase_home{
        font-size: 27px;
    }

    .conteudo_detalhe {
        padding: 5%;
        gap: 20px;
    }

    .detalhe_servico {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 5%;
    }

    .categorias {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        padding-bottom: 10%;
    }

    .categoria {
        width: 150px;
        height: 80px;
        padding: 20px 10px;
    }

    .conteudo_inteligencia {
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .conteudo_inteligencia img {
        width:  50%;
        padding: 0;
    }

    .inteligencia_esquerdo, .inteligencia_direito {
        width: 100%;
    }

    .inteligencia_direito h3 {
        font-size: 28px;
    }

    .conteudo_sobre {
        flex-direction: column;
        padding: 5%;
        gap: 30px;
    }

    .sobre_esquerdo, .sobre_direito {
        width: 100%;
    }

    .ferramentas{
        display: flex;
        width: 90%;
        gap: 30px;
    }

    .img_sobre {
        width: 100%;
        padding: 0;
    }

    .img_sobre img {
        width: 150px;
    }

    .conteudo_contato {
        flex-direction: row;
        padding: 5%;
    }

    .contato_esquerdo{
        width: 40%;
    }

    .endereco{
        font-size: 12px;
    }

    .contato_direito {
        width: 60%;
    }

    .contato_direito {
        height: auto;
        padding: 5%;
    }

    .inputs {
        gap: 10px;
    }

}