<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../css/dashboard.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" href="../../assets/5.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <script src="https://kit.fontawesome.com/65879fa723.js" crossorigin="anonymous"></script>
    <script src="../../js/links.js"></script>
    <script src="../../js/dashboard.js"></script>
  
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <header>
          <img src="../../assets/5 5.png" alt="Logo" />
        </header>
        <ul>
          <li>
            <div class="nome-div">
            <p class="nome-usuario-style">Olá, <p class="nome-usuario-style" id="nome_usuario">undefined</p></p>
          </div>
            <input type="radio" id="dashboard" name="sidebar" />
            <label for="dashboard" onclick="irParaDashboard()">
              <i class="fa-solid fa-chart-simple"></i>
              <p>Dashboard</p>
            </label>
          </li>
          <li>
            <input type="radio" id="alertas" name="sidebar" />
            <label for="alertas" onclick="irParaAlertas()">
              <i class="fa-solid fa-bell"></i>
              <p>Alertas</p>
            </label>
          </li>
          <li>
            <input type="radio" id="projecao" name="sidebar" />
            <label for="projecao" onclick="irParaProjecao()">
              <i class="fa-solid fa-chart-line"></i>
              <p>Projeção</p>
            </label>
          </li>
          <li>
            <input type="radio" id="plano_acao" name="sidebar" />
            <label for="plano_acao" onclick="irParaPlanoAcao()">
              <i class="fa-solid fa-map-location-dot"></i>
              <p>Plano de ação</p>
            </label>
          </li>
          <li>
            <input type="radio" id="forum" name="sidebar" />
            <label for="forum" onclick="irParaForum()">
              <i class="fa-solid fa-comments"></i>
              <p onclick="irParaForum()">Fórum</p>
            </label>
          </li>
          <li>
            <input type="radio" id="perfil" name="sidebar" />
            <label for="perfil" onclick="irParaPerfil()">
              <i class="fa-solid fa-user"></i>
              <p>Perfil</p>
            </label>
          </li>
          <li>
            <input type="radio" id="conta" name="sidebar" />
            <label for="conta" onclick="irParaHome()">
              <i class="fa-solid fa-right-from-bracket"></i>
              <p>Sair</p>
            </label>
          </li>
        </ul>
      </aside>
      <main class="main-content">
        <header>
          <div class="header-content">
            <h1>
              Painel de Dados sobre Roubos, Furtos e Latrocínios em São Paulo 
            </h1><p class="ultima-atualizacao" id="ultimaAtualizacao"></p>
            <select class="dropdown" id="select_ano" onchange="main()">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
            </select>            
          </div>
        </header>
        <section class="overview">
          <div class="crime-box total-crimes-gsp">
            <h2>Total de crimes (Grande São Paulo)</h2>
            <p class="number" id="id_total_crimes_gsp">0</p>
          </div>
          <div class="crime-box total-crimes-capital">
            <h2>Total de crimes (Capital)</h2>
            <p class="number" id="id_total_crimes_capital">0</p>
          </div>
          <div class="crime-box total-crimes-litoral">
            <h2>Total de crimes (Litoral)</h2>
            <p class="number" id="id_total_crimes_litoral">0</p>
          </div>
        </section>

        <section class="crime-charts">
          <div class="chart">
            <h3>Grande São Paulo</h3>
            <canvas id="gspChart"></canvas>
          </div>
          <div class="chart">
            <h3>Capital</h3>
            <canvas id="capitalChart"></canvas>
          </div>
          <div class="chart">
            <h3>Litoral</h3>
            <canvas id="litoralChart"></canvas>
          </div>
        </section>
        <section class="line-charts">
          <div class="chart">
            <h3>Total de crimes</h3>
            <canvas id="totalCrimesChart"></canvas>
          </div>
          <div class="chart">
            <h3>Total de crimes por região</h3>
            <canvas id="regionCrimesChart"></canvas>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>

<script>
  // Gráfico de barras: Grande São Paulo
  var gspCtx = document.getElementById("gspChart").getContext("2d");
  let barrasGsp = new Chart(gspCtx, {
    type: "bar",
    data: {
      labels: ["Roubo", "Furto", "Latrocínio"],
      datasets: [
        {
          label: "Quantidade de crimes",
          data: [], 
          backgroundColor: ["#1483CD"],
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        y: { beginAtZero: true },
      },
    },
  });

  // Gráfico de barras: Capital
  var capitalCtx = document.getElementById("capitalChart").getContext("2d");
  let barrasCapital = new Chart(capitalCtx, {
    type: "bar",
    data: {
      labels: ["Roubo", "Furto", "Latrocínio"],
      datasets: [
        {
          label: "Quantidade de crimes",
          data: [], 
          backgroundColor: ["#1483CD"]
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        y: { beginAtZero: true },
      },
    },
  });

  // Gráfico de barras: Litoral
  var litoralCtx = document.getElementById("litoralChart").getContext("2d");
  let barrasLitoral = new Chart(litoralCtx, {
    type: "bar",
    data: {
      labels: ["Roubo", "Furto", "Latrocínio"],
      datasets: [
        {
          label: "Quantidade de crimes",
          data: [], 
          backgroundColor: ["#1483CD"]
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        y: { beginAtZero: true },
      },
    },
  });

  // Gráfico de linha: Total de crimes
  var totalCrimesCtx = document
    .getElementById("totalCrimesChart")
    .getContext("2d");
  let linhaTotalCrimes = new Chart(totalCrimesCtx, {
    type: "line",
    data: {
      labels: [
        "Jan",
        "Fev",
        "Mar",
        "Abr",
        "Mai",
        "Jun",
        "Jul",
        "Ago",
        "Set",
        "Out",
        "Nov",
        "Dez",
      ],
      datasets: [
        {
          label: "Furto",
          data: [
            
          ],
          backgroundColor:"#8461C0",
          borderColor: "#8461C0",
          fill: false,
        },
        {
          label: "Roubo",
          data: [
            
          ],
          backgroundColor:"#3B70A2",
          borderColor: "#3B70A2",
          fill: false,
        },
        {
          label: "Latrocínio",
          data: [

          ],
          backgroundColor:"#138F7A",
          borderColor: "#138F7A",
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        y: { beginAtZero: true },
      },
    },
  });

  // Gráfico de linha: Total de crimes por região
  var regionCrimesCtx = document
    .getElementById("regionCrimesChart")
    .getContext("2d");
  let linhaTotalCrimesRegiao = new Chart(regionCrimesCtx, {
    type: "line",
    data: {
      labels: [
        "Jan",
        "Fev",
        "Mar",
        "Abr",
        "Mai",
        "Jun",
        "Jul",
        "Ago",
        "Set",
        "Out",
        "Nov",
        "Dez",
      ],
      datasets: [
        {
          label: "Capital",
          data: [
           
          ],
          backgroundColor:"#8461C0",
          borderColor: "#8461C0",
          fill: false,
        },
        {
          label: "Grande São Paulo",
          data: [
            
          ],
          backgroundColor:"#3B70A2",
          borderColor: "#3B70A2",
          fill: false,
        },
        {
          label: "Litoral",
          data: [
            
          ],
          backgroundColor:"#2A9D8F",
          borderColor: "#2A9D8F",
          fill: false,
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        y: { beginAtZero: true },
      },
    },
  });
</script>
