<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fórum</title>
    <link rel="stylesheet" href="../../css/forum.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    /><link rel="icon" href="../../assets/5.png">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <script
      src="https://kit.fontawesome.com/65879fa723.js"
      crossorigin="anonymous"
    ></script>
    <script src="../../js/forum.js"></script>
    <script src="../../js/links.js"></script>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <header>
          <img src="../../assets/5 5.png" alt="Logo" />
        </header>
        <ul>
          <li>
            <div class="nome-div">
            <p class="nome-usuario-style">Olá, <p class="nome-usuario-style" id="nome-usuario">undefined</p></p>
          </div>
            <input type="radio" id="dashboard" name="sidebar" />
            <label for="dashboard" onclick="irParaDashboard()">
              <i class="fa-solid fa-chart-simple"></i>
              <p>Dashboard</p>
            </label>
          </li>
          <li>
            <input type="radio" id="alertas" name="sidebar" />
            <label for="alertas" onclick="irParaAlertas()">
              <i class="fa-solid fa-bell"></i>
              <p>Alertas</p>
            </label>
          </li>
          <li>
            <input type="radio" id="projecao" name="sidebar" />
            <label for="projecao" onclick="irParaProjecao()">
              <i class="fa-solid fa-chart-line"></i>
              <p>Projeção</p>
            </label>
          </li>
          <li>
            <input type="radio" id="plano_acao" name="sidebar" />
            <label for="plano_acao" onclick="irParaPlanoAcao()">
              <i class="fa-solid fa-map-location-dot"></i>
              <p>Plano de ação</p>
            </label>
          </li>
          <li>
            <input type="radio" id="forum" name="sidebar" />
            <label for="forum" onclick="irParaForum()">
              <i class="fa-solid fa-comments"></i>
              <p onclick="irParaForum()">Fórum</p>
            </label>
          </li>
          <li>
            <input type="radio" id="perfil" name="sidebar" />
            <label for="perfil" onclick="irParaPerfil()">
              <i class="fa-solid fa-user"></i>
              <p>Perfil</p>
            </label>
          </li>
          <li>
            <input type="radio" id="conta" name="sidebar" />
            <label for="conta" onclick="irParaHome()">
              <i class="fa-solid fa-right-from-bracket"></i>
              <p>Sair</p>
            </label>
          </li>
        </ul>
      </aside>
      <div class="container-relatos">
        <div class="relatos">
          <span id="titulo-relatos">Relatos</span>
          <button onclick="listar()" class="enviar-btn">Recarregar</button>
          <div id="div_relatos"></div>
  
  
          <button id="escreverRelatoBtn" class="enviar-btn">
            Escrever relato
          </button>
  
  
          <div id="meuModal" class="modal">
            <div class="modal-conteudo">
              <span class="fechar">&times;</span>
              <h2>Escreva seu relato</h2>
  
              <div class="input-container">
                <input type="text" placeholder=" " id="input_descricao" class="input_relato" required />
                <label class="label" for="input_descricao">Descreva seu relato</label>
                <div class="underline"></div>
              </div>
              <button onclick="postar()" id="button_enviar_relato" class="enviar-btn">
                Enviar relato
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  </html>
  
  <script>
    // Obtém o modal
    var modal = document.getElementById("meuModal");
  
    // Obtém o botão específico que abre o modal usando o ID
    var btn = document.getElementById("escreverRelatoBtn");
  
    // Obtém o elemento <span> que fecha o modal
    var span = document.querySelector(".fechar");
  
    // Quando o usuário clica no botão, o modal é exibido
    btn.onclick = function () {
      modal.style.display = "block";
    };
  
    // Quando o usuário clica em <span> (x), o modal é fechado
    span.onclick = function () {
      modal.style.display = "none";
    };
  
    // Quando o usuário clica fora do modal, ele também é fechado
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  </script>