<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar perfil</title>
    <link rel="stylesheet" href="../../css/perfil.css" />
    <link rel="icon" href="../../assets/5.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <script src="https://kit.fontawesome.com/65879fa723.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../js/links.js"></script>

  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <header>
          <img src="../../assets/5 5.png" alt="Logo" />
        </header>
        <ul>
          <li>
            <div class="nome-div">
            <p class="nome-usuario-style">Olá, <p class="nome-usuario-style" id="nome-usuario">undefined</p></p>
          </div>
          <input type="radio" id="dashboard" name="sidebar" />
            <label for="dashboard" onclick="irParaDashboard()">
              <i class="fa-solid fa-chart-simple"></i>
              <p>Dashboard</p>
            </label>
          </li>
          <li>
            <input type="radio" id="projecao" name="sidebar" />
            <label for="projecao" onclick="irParaProjecao()">
              <i class="fa-solid fa-user"></i>
              <p>Projeção</p>
            </label>
          </li>
          <li>
            <input type="radio" id="notificacoes" name="sidebar" />
            <label for="notificacoes" onclick="irParaPlanoAcao()">
              <i class="fa-solid fa-bell"></i>
              <p>Plano de ação</p>
            </label>
          </li>
          <li>
            <input type="radio" id="forum" name="sidebar" />
            <label for="forum" onclick="irParaForum()">
              <i class="fa-solid fa-comments"></i>
              <p onclick="irParaForum()">Fórum</p>
            </label>
          </li>
          <li>
            <input type="radio" id="perfil" name="sidebar" />
            <label for="perfil" onclick="irParaPerfil()">
              <i class="fa-solid fa-user"></i>
              <p>Perfil</p>
            </label>
          </li>
          <li>
            <input type="radio" id="conta" name="sidebar" />
            <label for="conta" onclick="irParaHome()">
              <i class="fa-solid fa-person-through-window"></i>
              <p>Sair</p>
            </label>
          </li>
        </ul>
      </aside>

    <div class="container">
        <div class="profile-section">
            <h2>Ana Oliveira</h2>
            <div class="profile-photo">
                <img src="../../assets/Ellipse 3.png" alt="Foto de perfil">
            </div>
            <button class="upload-button">Enviar nova foto</button>
            <p class="upload-info">
                Envie uma nova foto de perfil. Imagens muito grandes serão redimensionadas automaticamente.
                <br>Tamanho máximo de envio é <b>1MB</b>
            </p>
            <p class="member-since">Membro desde: <b> undefined </b> </p>
        </div>

        <div class="edit-section">
            <h2>Editar Perfil</h2>
            <p>Troque os campos que deseja alterar!</p>
            <form>
                <div class="form-group">
                    <label for="nome">Nome Completo</label>
                    <input type="text" id="nome" placeholder="Insira seu nome aqui">
                  </div>
                    <div class="form-group">
                    <label for="cargo">Atualizar cargo</label>
                    <select id="cargo">
                        <option disabled selected hidden>Cargo</option>
                        <option value="oficial">Oficial</option>
                        <option value="soldado">Soldado</option>
                        <option value="perito">Perito</option>
                        <option value="delegado">Delegado</option>
                        <option value="investigador">Investigador</option>
                        <option value="agente">Agente</option>
                        <option value="escrivao">Escrivão</option>
                        <option value="secretario">Secretário</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Atualizar Email</label>
                    <input type="email" id="email" placeholder="exemplo@exemplo.com">
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" placeholder="000000000-00" maxlength="12" minlength="12">
                </div>
                <div class="form-group">
                    <label for="senha">Atualizar senha</label>
                    <input type="password" id="senha" placeholder="**********">
                </div>
                <div class="form-group">
                    <label for="confirm-senha">Confirme sua nova senha</label>
                    <input type="password" id="confirm-senha" placeholder="**********">
                </div>
                <button type="submit" class="save-button">Salvar</button>
            </form>
        </div>
    </div>


      
    
  </body>
</html>
