<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../css/dashboardUser.css" />
    <link rel="icon" href="../../assets/5.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/akar-icons-fonts"></script>
    <script src="https://kit.fontawesome.com/65879fa723.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../js/links.js"></script>
    <script src="../../js/dashboarduser.js"></script>

  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <header>
          <img src="../../assets/5 5.png" alt="Logo" />
        </header>
        <ul>
          <li>
            <div class="nome-div">
              <p class="nome-usuario-style">Olá, <p class="nome-usuario-style" id="nome-usuario">undefined</p></p>
            </div>
            <input type="radio" id="dashboard" name="sidebar" />
            <label for="dashboard" onclick="irParaDashboard()">
              <i class="fa-solid fa-chart-simple"></i>
              <p>Dashboard</p>
            </label>
          </li>
          
          <li>
            <input type="radio" id="forum" name="sidebar" />
            <label for="forum" onclick="irParaForum()">
              <i class="fa-solid fa-comments"></i>
              <p onclick="irParaForumUser()">Fórum</p>
            </label>
          </li>
         
          <li>
            <input type="radio" id="noticias" name="sidebar" />
            <label for="conta" onclick="irParaNoticias()">
              <i class="fa-regular fa-newspaper"></i>
              <p>Notícias</p>
            </label>
          </li>
          
          <li>
            <input type="radio" id="conta" name="sidebar" />
            <label for="conta" onclick="irParaHome()">
              <i class="fa-solid fa-right-from-bracket"></i>
              <p>Sair</p>
            </label>
          </li>
        </ul>
      </aside>
      <main class="main-content">
        <header>
          <div class="header-content">
            <h1>
              Painel de Dados sobre Roubos, Furtos e Latrocínios em São Paulo
            </h1><p class="ultima-atualizacao" id="ultimaAtualizacaoUser"></p>
            <select class="dropdown" id="select_ano" onchange="main()">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
            </select>      
          </div>
        </header>
        
        </section>
        <section class="line-charts">
          <div class="chart">
            <h3>Crime com mais incidências </h3>
            <p class="text" id="id_crime_mais_incidencias"></p>
            
          </div>
          <div class="chart">
            <h3>Região com mais incidências</h3>
            <p class="text" id="id_regiao_mais_incidencias"></p>
            
          </div>
          <div class="chart">
            <h3>Mês com mais incidências</h3>
            <p class="text" id="id_mes_mais_incidencias"></p>
            
          </div>
        </section>

        <section class="overview">
          <div class="crime-box total-crimes-gsp">
            <h2>Total de crimes (Grande São Paulo)</h2>
            <p class="number" id="id_total_crimes_gsp"></p>
          </div>
          <div class="crime-box total-crimes-capital">
            <h2>Total de crimes (Capital)</h2>
            <p class="number" id="id_total_crimes_capital"></p>
          </div>
          <div class="crime-box total-crimes-litoral">
            <h2>Total de crimes (Litoral)</h2>
            <p class="number" id="id_total_crimes_litoral"></p>
          </div>
        </section>


        <section class="crime-charts">
          <div class="chart">
            <h2>Total de crimes da região</h2>
            <select class="select-regiao" id="select_localidade" onchange="main()">
              <option value="Capital">Capital</option>
              <option value="Grande São Paulo">Grande São Paulo</option>
              <option value="Litoral">Litoral</option>
            </select> 
          
            <canvas id="gspChart" style="width: 100%; height: 80%;"></canvas>
          </div>
        </section>

        
       
      </main>


<!-- ALERTAS -->

<!-- <div class="notification success">
    <i class="icon fa-solid fa-circle-check fa-2x"> </i>
    <button class="close-btn" onclick="this.parentElement.style.display='none';"></button>
    <p><strong>Redução da criminalidade</strong></p>
    <i class="fa-solid fa-chevron-down fa-2x"></i>
</div>

<div class="notification error">
    <i class="icon fa-solid fa-circle-xmark fa-2x"></i>
    <button class="close-btn" onclick="this.parentElement.style.display='none';"></button>
    <p><strong>Aumento da criminalidade</strong> </p>
    <i class="fa-solid fa-chevron-up fa-2x"></i>
</div>

<div class="notification warning">
    <i class="icon fa-solid fa-triangle-exclamation fa-2x"></i>
    <button class="close-btn" onclick="this.parentElement.style.display='none';"></button>
    <strong>Cuidado!</strong> 
    <i class="icon fa-solid fa-triangle-exclamation fa-2x"></i>

</div> -->

    </div>

  

    <script>
      // Gráfico de barras horizontal
      var gspCtx = document.getElementById("gspChart").getContext("2d");
      let barraHorizontalTotal = new Chart(gspCtx, {
        type: "bar", // ou "horizontalBar" se estiver usando versões mais antigas
        data: {
          labels: ["Roubo", "Furto", "Latrocínio"],
          datasets: [
            {
              label: 'Incidências',
              data: [], 
              backgroundColor: ["#1483CD"],
            },
          ],
        },
        options: {
          responsive: true, 
          indexAxis: 'y', 
          scales: {
            x: { beginAtZero: true },
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
    
  </body>
</html>
